@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h2>YOU ARE WELCOME TO CELEIN BEAUTY – ONLINE SHOP</h2>
<p>
    The Celein Beauty products is 100% Sri Lanka owned and operated Wholesale and online retail Business . Our main focus is introducing professional  Hair salon, Beauty salon and other personal care products to the Sri Lankan market .  We are the imports and Distributors in some Professional brands for the SL and Asian Hair /Beauty Industry. Celein Beauty was started in 2022 and has grown steadily within a short period to  distribute among wholesalers and marketing to retailers.
</p>
<br />
<p>
    The Celein Beauty vision is introducing highly standard quality professional products  to the salon industry at  affordable prices..
</p>


<h3>CUSTOMER SERVICE:</h3>
<p>
    We are located in Negombo-Sri Lanka. It’s a tricky retail online shop and returns can be couriered or drop off on call and pre appointments . ALL other services and further products details and directions our phone communication .
</p>
<br />
</p>
    The Wholesaler could do the order on the website and couriered to your location and also over the phone/email order can be picked-up from Negombo-Sri Lanka .
</p>
<br />
<p>
    ** Pick -up address – Strickly on prior appointment only ..
</p>

<p>OURS Brands :</p>
<p>Maxima Professional – Italy</p>
<p>Keratin Research Professional – USA</p>
<p>Beox Professional – Brazil</p>


